@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  color: white;
}
input{
  @apply text-black
}
#page1{
  background: url("../../public/Images/sunset2.jpg");
  background-position: center;
  background-size: cover;


}
@media (min-width: 768px) {
  #page1{
    background:url("../../public/Images/sunset1.jpg");
    background-position: center;
    background-size: cover;
  }
}
#insidemain{
  
}
#starImage{
  animation: rotatedstart alternate 5s  ease-in-out infinite;
}
@keyframes rotatedstart{
  from{
    transform: rotate(0deg);
    opacity: 0;
  }
  to{
    transform: rotate(360deg);
  }
}
#downarrow{
  animation: downArrow alternate 1.5s  ease-in-out infinite;
}
@keyframes downArrow{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
#startBtn{
  animation: startbtnbg alternate 5s  ease-in-out infinite;
  
}
@keyframes startbtnbg{
  from{
    background-color: brown;
  }
  to{
    background-color: green;
  }
}
@media not all and (min-width: 480px) {
    #indicatorImg{
        @apply opacity-40
    }
}

#text_shadow{
    text-shadow: 5px 5px 10px black;
}
@media not all and (min-width: 768px) {
  #text_shadow{
    text-shadow: 3px 2px 4px white;
}
}
#quicjLinksUl a{
    @apply hover:underline hover:underline-offset-4
}