#main{
    background:linear-gradient(rgba(0, 0, 0, 0.692),rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.801)),url(../../../../public/Images/tecnology_1.jpg);
    background-size: cover;
    background-position: center;
    
}
#seeMore{
    background-color: black;
}